body {
  background-color:lightblue;
}
.home {
  justify-content: center;
}
header {
  color: white;
  display: flex;
  background-color: rgb(97, 148, 184);
  border: 3px;
  border-color: lightblue;
  margin: auto;
  justify-content: center;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
p {
  color: white;
}

ul {
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(69, 102, 126);
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(46, 72, 90);
}

.container {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  background-color: rgb(97, 148, 184);
;
}

.aboutme {
  border-color: lightblue;
  border-width: 2px;
}

.container div {
  flex-grow: 1;
  background-color: rgb(97, 148, 184);
  margin: 10px;
  padding: 20px;
}
