body {
  background-color: gray;
}

h3 {
  color: white;
  margin: auto;
  text-align: center;
}

div {
    margin-left: 10%;
    width:25%;
    float:left;
    background-color:slateblue;
    text-align: center;
}
