body {
  background-color: gray;
}

h3 {
  color: white;
  margin: auto;
  text-align: center;
}

.aboutme {
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
    width:25%;
    float:left;
    background-color:slateblue;
    text-align: center;
}

img {
  width: 50px;
  height: 50px;

}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
