/* general */
body {
  font-family: Cambria, Georgia, serif;
  background-image: url("ocean_bg.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 900px;      
  margin: 0 auto;     
  padding: 0 20px;     
  box-sizing: border-box;
}

/* headings / pargraph */
header {
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(97, 148, 184);
  border: 3px;
  border-color: lightblue;
  padding: 10px;
  margin-bottom: 5px;
}
.name {
  margin-top: 10px;      
  color: white;
  display: flex;
  background-color: rgb(97, 148, 184);
  border: 3px;
  border-color: lightblue;
  justify-content: center;
}

h1, h2, h3 {
  color: white;
  text-align: center;
}
p, ul {
  color: white;
}

/* nav bar */
.navbar {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  background-color: rgb(69, 102, 126);
  width: 100%;
}

ul li a {
  display: block;         
  color: white;
  padding: 14px 20px;     
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(46, 72, 90);
}

/* projects */
.projects-heading {
  background-color: rgb(69, 102, 126);
  padding: 10px;
}
.projects-grid {
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
  background-color: rgb(97, 148, 184);
  padding: 20px;
  
}


.projects-grid div {
  background-color: rgb(69, 102, 126);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  min-height: 150px;
}


/* skills/about me div */
.container {
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  flex-direction: row;
  background-color: rgb(97, 148, 184);
  margin-bottom: 5px;
}
.container div {
  flex: 1 1 300px;         
  margin: 10px;
  padding: 20px;
}

.home {
  margin: auto;
  justify-content: center;
}
/* adjustment for mobile view */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;  
    align-items: center;
  }

  .navbar li {
    width: 100%;
    text-align: center;
  }
